<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>

</head>
<body>
<header class="header">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li> <a href="/hello">Hello</a>
        </li>
        <li>
            <a href="/capitalize">Capitalize</a>
        </li>
        <li>
            <a href="/albums">Album</a>
        </li>
    </ul>
</header>
<main class="container">
    <table class="table" border="2">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Artist</th>
            <th scope="col">Song Count</th>
            <th scope="col">Length</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="album:${album}">
            <td th:text="${album.title}"></td>
            <td><img th:src="${album.imageUrl}" width="125"></td>
            <td th:text="${album.artist}"></td>
            <td th:text="${album.songCount}"></td>
            <td th:text="${album.length}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer class="footer">
    <br>
    <center>Contact Me<br> <br>
        Email : naeemalomari96@gmail.com <br> <br>
        address : JORDAN-IRBID <br> <br>
    </center>
</footer>
</body>
</html>